@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/static/split/WantedSans.min.css");

:root {
    --tigers-eye: #bc6c25ff;
    --earth-yellow: #dda15eff;
    --cornsilk: #fefae0ff;
    --licorice: #261c15ff;
    --outer-space: #484a47ff;
}

*{
    font-family: 'Wanted Sans', sans-serif !important;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--tigers-eye);

}

.navbar{
    background-color: transparent;
    color: var(--cornsilk);
}

.navbar-scrolled{
    background-color: var(--cornsilk);
    color: var(--tigers-eye) !important;
}

.navbar-scrolled .nav-link, .navbar-scrolled .navbar-brand{
    color: var(--tigers-eye) !important;

}

.nav-link, .navbar-brand{
    background-color: transparent !important;
    color: var(--cornsilk) !important;

}

.nav-link{
    cursor: pointer;
}

.navbar-brand{
    font-weight: 700;
    font-size: 1.8em;
}

.intro-back{
    background-color: var(--tigers-eye);
    height: 100vh;
}
.intro{
    background-color: var(--tigers-eye);
    color: var(--cornsilk);
    font-size: 5em;
    font-weight: 800;
    height: 100vh;
    
}

.about-back{
    background-color: var(--licorice);
    height: fit-content;

}
.about{
    background-color: var(--licorice);
    color: var(--cornsilk);
    height: fit-content;

}

.skills-back{
    background-color: var(--licorice);
    height: fit-content;

}
.skills{
    background-color: var(--licorice);
    color: var(--cornsilk);
    height: fit-content;
}

.experiences-back{
    background-color: var(--licorice);
    height: fit-content;

}
.experiences{
    background-color: var(--licorice);
    color: var(--cornsilk);
    height: fit-content;

}

.projects-back{
    background-color: var(--licorice);
    height: fit-content;

}
.projects{
    background-color: var(--licorice);
    color: var(--cornsilk);
    height: fit-content;

}

.footer-back{
    background-color: var(--outer-space);
    height: fit-content;

}
.footer{
    background-color: var(--outer-space);
    color: var(--cornsilk);
    height: fit-content;
}

.display-1{
    font-weight: 700;
}

.container h1 {
    display: inline-block;
    position: relative;
}

.container h1::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -7%;
    left: 50%;
    width: 150%; /* Adjust 40px to be 20px longer on each side */
    height: 3px;
    background-color: var(--cornsilk); /* Adjust the color as needed */
    transform: translateX(-50%);
}