@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/static/split/WantedSans.min.css");

:root {
    --tigers-eye: #bc6c25ff;
    --earth-yellow: #dda15eff;
    --cornsilk: #fefae0ff;
    --licorice: #261c15ff;
    --outer-space: #484a47ff;
    --navbar-height: 69.19px;
}

*{
    font-family: 'Wanted Sans', sans-serif !important;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--tigers-eye);
    width: 100%;
}

.navbar{
    background-color: transparent;
    color: var(--cornsilk);
}

.navbar-scrolled{
    background-color: var(--cornsilk);
    color: var(--tigers-eye) !important;
}

.navbar-scrolled .nav-link, .navbar-scrolled .navbar-brand{
    color: var(--tigers-eye) !important;

}

.nav-link, .navbar-brand{
    background-color: transparent !important;
    color: var(--cornsilk) !important;

}

.nav-link{
    cursor: pointer;
}

.navbar-brand{
    font-weight: 700;
    font-size: 1.8em;
}

.intro-back{
    background-color: var(--tigers-eye);
    min-height: calc(100vh - var(--navbar-height));
}
.intro{
    background-color: var(--tigers-eye);
    color: var(--cornsilk);
    font-size: 5em;
    font-weight: 800;
    min-height: calc(100vh - var(--navbar-height));
    
}

.about-back{
    background-color: var(--licorice);
    height: fit-content;

}
.about{
    background-color: var(--licorice);
    color: var(--cornsilk);
    height: fit-content;

}

.skills-back{
    background-color: var(--licorice);
    height: fit-content;

}
.skills{
    background-color: var(--licorice);
    color: var(--cornsilk);
    height: fit-content;
}

.experiences-back{
    background-color: var(--licorice);
    height: fit-content;

}
.experiences{
    background-color: var(--licorice);
    color: var(--cornsilk);
    height: fit-content;

}

.projects-back{
    background-color: var(--licorice);
    height: fit-content;

}
.projects{
    background-color: var(--licorice);
    color: var(--cornsilk);
    height: fit-content;

}

.footer-back{
    background-color: var(--outer-space);
    height: fit-content;

}
.footer{
    background-color: var(--outer-space);
    color: var(--cornsilk);
    height: fit-content;
}

.display-1{
    font-weight: 700;
}

.image {
    width: 30vw;
    height: 30vw;
}

.main_text{
    font-size: 3em;
    line-height: 0.9;
}

.smaller{
    display: none;
}

h5 {
    margin: 0;
    color: rgb(239, 235, 210)
}

.explanation {
    margin-left: 100px;
}

.more{
    --bs-btn-color: var(--licorice);
    --bs-btn-border-color: var(--licorice);
    --bs-btn-hover-color: var(--cornsilk);
    --bs-btn-hover-bg: var(--tigers-eye);
    --bs-btn-hover-border-color: var(--cornsilk);  
    float: right;
    margin-top: 20px;
}

@media (max-width: 1400px) and (min-width:1201px) {
    .image {
        width: 40vw;
        height: 40vw;
    }
    .main_text{
        font-size: 1.8em;
    }
    .bigger{
        display: initial;
    }
    .smaller{
        display: none;
    }
}

@media (min-width:992px) {
    .image {
        margin-top: 80px;
    }

}

@media (max-width: 1200px) and (min-width:992px) {
    .image {
        width: 40vw;
        height: 40vw;
    }
    .main_text{
        font-size: 1.8em;
    }
    .bigger{
        display: initial;
    }
    .smaller{
        display: none;
    }
}

@media (max-width: 991px) {
    .image {
        width: 60vw;
        height: 60vw;
    }
    .explanation ,.more{
        display: none;
    }
    .main_text{
        font-size: 1.3em;
    }
    .bigger{
        display: none;
    }
    .smaller{
        display: initial;
    }
}